.best-book_container {
  width: 100%;
  padding: 150px;
  margin-top: 150px;
  background-color: var(--bg2-color);

  .best-book {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;

    .best-book_img {
      img {
        width: 350px;
      }
    }
    .best-book_info {
      margin-top: 20px;

      .best-book_writter {
        margin: 30px 0;
      }
      h3 {
        margin-bottom: 15px;
      }
      .best-book_desc {
        margin-bottom: 25px;
      }
      .price {
        margin-bottom: 40px;
        color: var(--red-color);
      }

      .shop-btn {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: fit-content;
        gap: 8px;
        padding: 15px;
        padding-left: 0;
        font-size: 13px;
        text-transform: uppercase;
        color: var(--black-color);
        transition: var(--transition);
        z-index: 1;
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          height: 100%;
          width: 0;
          background-color: var(--black-color);
          z-index: -1;
          transition: var(--transition);
        }
        &:hover::before {
          width: 100%;
        }
        &:hover {
          color: var(--bg1-color);
          padding-left: 15px;
        }
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .best-book_container {
    padding: 150px 80px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .best-book_container {
    padding: 150px 20px;
    .best-book {
      align-items: center;
      gap: 50px;
      .best-book_img {
        img {
          width: 320px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .best-book_container {
    padding: 150px 20px;
    .best-book {
      align-items: center;
      flex-direction: column;
      gap: 0;

      .best-book_info {
        text-align: center;
      }
    }
  }
}
