.copyright-text {
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
}

.copyright-links {
  display: flex;
  align-items: center;
  gap: 25px;

  li {
    a {
      color: var(--dark-color);
    }
  }
}

